$primary-color: #B86125;
$primary-hover: #d2302c ;
$color-btn-hover: #9FBEC8;
$color-accent: #B86125;
$text-color: #000;
$border-color: #E5E7EB;
$color-primary: #F1F1F1;
$white: #FFFFFF;
$transition: all 0.2s ease-in-out;
$container-width:1440px;
$border-color: rgba(255, 255, 255, 0.1);
$transition-default: all 0.3s ease;